<div class="uk-section uk-section-large uk-background-muted">
  <div class="uk-container uk-container-xsmall">
    <h1>get in touch with me</h1>
    <p class="uk-margin-medium">
      You have a project that you want to get started. Please take a few minutes to get
      in touch with me
    </p>
    <div class="uk-grid-large uk-child-width-1-2@s uk-text-center" uk-grid>
      <div>
        <div class="uk-card uk-card-small uk-box-shadow-small">
          <div class="uk-card-body">
            <a href="mailto:name@email.com" uk-icon="icon: mail; ratio:3.25;"></a>
          </div>
          <div class="uk-card-footer">
              <a href="mailto:name@email.com" class="uk-button uk-button-text">krishnafarvil&#64;gmail.com</a>
            </div>
        </div>
      </div>
      <div>
        <div class="uk-card uk-card-small uk-box-shadow-small">
          <div class="uk-card-body">
            <a href="https://github.com/fkrishna" target="_blank"  uk-icon="icon: github; ratio:3.25;"></a>
          </div>
          <div class="uk-card-footer">
            <a href="https://github.com/fkrishna" target="_blank" class="uk-button uk-button-text">&#64;fkrishna</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <form class="uk-grid-small uk-margin-medium" uk-grid>
  <div class="uk-width-1-2">
    <input class="uk-input" type="text" placeholder="full name">
  </div>
  <div class="uk-width-1-2">
    <input class="uk-input" type="tel" placeholder="phone number">
  </div>
  <div class="uk-width-1-1">
    <input class="uk-input" type="text" placeholder="subject">
  </div>
  <div class="uk-width-1-1">
    <textarea class="uk-textarea" rows="5" placeholder="message"></textarea>
  </div>
  <div class="uk-width-1-1 uk-margin">
    <button class="uk-button uk-button-default uk-button-secondary">
      <span uk-icon="mail"></span>
      Send
    </button>
  </div>
</form> -->