<div class="uk-section uk-section-large uk-background-muted">
  <div class="uk-container uk-container-xsmall">
    <article>
      <h1>hi.</h1>
      <p class="uk-dropcap bio">
        I'm Krishna Farvil, I'm a self-taught software developer based in Boston MA.
        I'm currently doing my bachelors degree at UMASS Boston.
        I'm interested in all kinds of digital technologies,
        but my major focus is on software development. I love building applications software either web, mobile or
        desktop from start to finish...
        <!--I’m always looking to collaborate on
        interesting projects on site or remotely with awesome people, if you’re a small to medium sized business I’m
        more than sure I can help. -->
      </p>
    </article>

    <div class="uk-margin-medium">
      <a href="https://graduation.udacity.com/confirm/CR3E95HH" target="_blank"
      uk-tooltip="title:FullStack  Web Developer Certificate; pos:">
        <img src="assets/img/icons/certificate.png" width="50" title="" alt="">
      </a>
    </div>

  </div>
</div>