<div class="uk-section uk-section-large uk-background-muted">
  <div class="uk-container uk-container-xsmall">
    <article>
      <h1>hi.</h1>
      <p class="uk-dropcap bio">
        I'm Krishna Farvil, I'm a self-taught software developer based in Boston MA.
        I'm currently working on my associate degree at Quincy College.
        I'm interested in all kinds of digital technologies,
        but my major focus is on software development. I love building applications software either web, mobile or
        desktop from start to finish. I’m looking to collaborate on
        interesting projects on site or remotely with awesome people.
      </p>
    </article>

    <!-- <div class="uk-margin-medium uk-flex uk-flex-center" uk-grid>
      <a href="#certifications-full" uk-toggle  class="uk-margin-left uk-margin-right">
        <img title="certifications" src="assets/img/icons/certificate.png" width="50" alt="certifications">
      </a>
      <a href="#modal-full" uk-toggle  class="uk-margin-left uk-margin-right">
        <img title="skills" src="assets/img/icons/skills.png" width="50" alt="FullStack Web Developer Certificate">
      </a>
      <a routerLink="assets/files/resume.pdf" target="_blank" class="uk-margin-left uk-margin-right">
        <img title="resume" src="assets/img/icons/cv.png" width="50" alt="FullStack Web Developer Certificate">
      </a>
    </div> -->

    <!-- <div class="uk-margin-medium uk-flex uk-flex-center" uk-grid>

      
     
     
    </div> -->

    <div class="uk-grid-collapse uk-child-width-1-3@s uk-text-center uk-margin-medium" uk-grid>
      <div>
        <div class="uk-card uk-card-small uk-box-shadow-small" style="border:1px solid #ddd;">
          <div class="uk-card-body">
            <a href="#certifications-full" uk-toggle class="uk-margin-left uk-margin-right">
              <img title="certifications" src="assets/img/icons/certificate.png" width="45" alt="certifications">
            </a>
          </div>
          <div class="uk-card-footer">
            <a href="https://www.linkedin.com/in/krishna-farvil" target="_blank"
              class="uk-button uk-button-text">certifications</a>
          </div>
        </div>
      </div>

      <div>
        <div class="uk-card uk-card-small uk-box-shadow-small" style="border:1px solid #ddd;">
          <div class="uk-card-body">
            <a href="#modal-full" uk-toggle class="uk-margin-left uk-margin-right">
              <img title="skills" src="assets/img/icons/skills.png" width="45"
                alt="FullStack Web Developer Certificate">
            </a>
          </div>
          <div class="uk-card-footer">
            <a href="mailto:name@email.com" class="uk-button uk-button-text">skills</a>
          </div>
        </div>
      </div>

      <div>
        <div class="uk-card uk-card-small uk-box-shadow-small" style="border:1px solid #ddd;">
          <div class="uk-card-body">
              <a routerLink="assets/files/resume.pdf" target="_blank" class="uk-margin-left uk-margin-right">
                <img title="resume" src="assets/img/icons/cv.png" width="45" alt="FullStack Web Developer Certificate">
              </a>
          </div>
          <div class="uk-card-footer">
            <a href="https://github.com/fkrishna" target="_blank" class="uk-button uk-button-text">resume</a>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="uk-margin-medium">
      <div class="uk-grid-larg uk-child-width-1-3@s uk-flex-center uk-text-center" uk-grid>
        <div>
          <a href="#certifications-full" uk-toggle>
            <img title="certifications" src="assets/img/icons/certificate.png" width="50"
              alt="certifications">
          </a>
        </div>
        <div>
          <a href="#modal-full" uk-toggle>
            <img title="skills" src="assets/img/icons/skills.png" width="50"
              alt="FullStack Web Developer Certificate">
          </a>
        </div>
        <div>
          <a routerLink="assets/files/resume.pdf" target="_blank">
            <img title="resume" src="assets/img/icons/cv.png" width="50"
              alt="FullStack Web Developer Certificate">
          </a>
        </div>
      </div>
    </div> -->
  </div>
</div>

<div id="modal-full" class="uk-modal-full" uk-modal>
  <div class="uk-modal-dialog">
    <button class="uk-modal-close-full uk-close-large uk-background-primary" type="button" uk-close></button>
    <div uk-height-viewport class="uk-background-primary uk-text-center uk-padding">
      <h1>skills</h1>
      <h3 style="color:#eee;margin:15px 0 40px 0;">
        selection of relevant technologies that I have experience with
      </h3>
      <div class="uk-container">
        <div class="uk-grid-small uk-child-width-1-5@s uk-flex-center uk-text-center uk-grid-match" uk-grid>
          <div *ngFor="let skill of skills">
            <div class="uk-card uk-card-small uk-card-secondary uk-card-body">
              <img src="{{ skill.src }}" width="40" alt="">
              <p class="uk-margin-small-top uk-text-capitalize">{{ skill.name }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="certifications-full" class="uk-modal-full" uk-modal>
  <div class="uk-modal-dialog">
    <button class="uk-modal-close-full uk-close-large uk-background-primary" type="button" uk-close></button>
    <div uk-height-viewport
      class="uk-background-primary uk-text-center uk-flex uk-flex-center uk-flex-middle uk-flex-column">
      <h1 style="color:#fff;">my certificates</h1>
      <div class="uk-container uk-margin">
        <div class="uk-grid-small uk-child-width-1-2@s uk-flex-center uk-text-center uk-grid-match" uk-grid>
          <div *ngFor="let certificate of certificates">
            <div class="uk-card uk-card-body">
              <img src="{{ certificate.logo }}" width="180" alt="{{ certificate.desc }}">
              <p class="uk-margin-small-top uk-text-capitalize">
                <a routerLink="{{certificate.src}}" class="uk-link-reset" style="color:#BDBDBD !important;"
                  target="_blank">{{ certificate.desc }}</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>