@import 'bootstrap';

h1 { color: $c-secondary; @include font-size(40px); }

.bio {  
    line-height: 2;
    letter-spacing: 3px;
    color: #757575;
    @include font-size(16px);
}

.uk-card-footer { border-top: 1px solid #ccc; }