<div class="uk-background-cover uk-background-blend-overlay overlay uk-light home" data-src="assets/img/wallpaper.jpg"
    uk-height-viewport="offset-bottom: 0" uk-img>
    <div class="uk-container">
        <div>
            <img src="assets/img/icons/ninja.png" width="60" alt="">
            <h1><span class="small">I'm </span>krishna farvil</h1>
            <p class="small uk-margin-small">AND</p>
            <h2>I'm a junior software developer located in Boston, MA</h2>
        </div>
    </div>
</div>