<div class="uk-flex uk-flex-row uk-background-muted" uk-height-viewport>
    <div style="width:300px;">
        <div class="uk-padding uk-padding-small uk-text-center uk-margin-bottom uk-background-muted" style="border-top:0px solid #26A69A; border-bottom:2px solid #26A69A;background-color:#fff;">
            <h1>KF / LAB</h1>
        </div>
        <ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical">
            <li class="uk-active"><a href="#">Active</a></li>
            <li><a href="#">Item</a></li>
            <li><a href="#">Item</a></li>
            <li><a href="#">Item</a></li>
        </ul>
    </div>
    <div class="uk-width-1-1">
        <viewer [project]="data"></viewer>
    </div>
</div>

<!-- <div class="uk-offcanvas-content">
    <navbar></navbar>
    <viewer [project]="data"></viewer>
</div> -->



<!-- <header class="uk-section uk-section-small uk-text-center">
    <logo></logo><span>|Lab</span>
</header>

<div class="uk-container uk-container-medium uk-margin">
    <div class="uk-child-width-1-2@s uk-grid-match" uk-grid>
        <div>
            <div class="uk-card uk-card-secondary uk-box-shadow-small">
                <div class="uk-card-body">
                    <h3 class="uk-card-title">TodoList</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste eaque corrupti sunt odit ratione!
                        Maiores!</p>
                </div>
                <div class="uk-card-footer">
                    <a href="#" class="uk-button uk-button-text">source code</a>
                </div>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-secondary uk-box-shadow-small">
                <div class="uk-card-body">
                    <h3 class="uk-card-title">Hangman</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, ex.</p>
                </div>
                <div class="uk-card-footer">
                    <a href="#" class="uk-button uk-button-text">view page</a>
                    <a href="#" class="uk-button uk-button-text">source code</a>
                </div>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-secondary uk-box-shadow-small">
                <div class="uk-card-body">
                    <h3 class="uk-card-title">Sokoban</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, ex.</p>
                </div>
                <div class="uk-card-footer">
                    <a href="#" class="uk-button uk-button-text">view page</a>
                    <a href="#" class="uk-button uk-button-text">source code</a>
                </div>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-secondary uk-box-shadow-small">
                <div class="uk-card-body">
                    <h3 class="uk-card-title">Test</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere nostrum ea impedit veniam libero distinctio magnam fuga modi, eius voluptate cupiditate iusto laborum hic similique..</p>
                </div>
                <div class="uk-card-footer">
                    <a href="#" class="uk-button uk-button-text">view page</a>
                    <a href="#" class="uk-button uk-button-text">source code</a>
                </div>
            </div>
        </div>

    </div>
</div> 


<footer background="default"></footer> -->