@import 'bootstrap';

footer {
    // position: absolute;
    // bottom: 0; left: 0; right: 0;
}

.uk-card-footer {
    display: flex;
    justify-content: space-between;
}


header {

    span{ @include font-size($fs-xlg + 5); color: $c-primary; font-weight: 300; }
}

/* For Mobiles Devices */
@media (min-width: 640px) {
    .uk-card-footer {
        position: absolute;
        bottom: 0; left: 0; right: 0;
        
    }
}

// /* For Tablets And Larger Screens Devices */
// @media (min-width: devices(mobile)) {
//     .panel { border: 1px solid blue; }
// }