<div class="uk-navbar-container">
    <nav class="uk-container uk-container-xsmall" uk-navbar>
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                <li><a routerLink="/lab" uk-icon="icon:home;ratio:1.35"></a></li>
            </ul>
        </div>
        <div class="uk-navbar-center">
            <a class="uk-navbar-item uk-logo uk-text-bold" routerLink="/lab">
                cslab
            </a>
        </div>
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
                <li>
                    <a href="#modal-overflow" uk-icon="icon:info;ratio:1.35" uk-toggle></a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<router-outlet></router-outlet>

<!-- <div>
    <ng-template ad-host></ng-template>
</div> -->

<div id="modal-overflow" uk-modal>
    <div class="uk-modal-dialog">

        <button class="uk-modal-close-default" type="button" uk-close></button>

        <div class="uk-modal-header">
            <h2 class="uk-modal-title uk-text-capitalize">numeral systems</h2>
        </div>

        <div class="uk-modal-body" uk-overflow-auto>
            A numeral system (or system of numeration) is a writing system for expressing numbers; that is, a
            mathematical
            notation for representing numbers of a given set, using digits or other symbols in a consistent manner.

            The same sequence of symbols may represent different numbers in different numeral systems. For example, "11"
            represents the number eleven in the decimal numeral system (used in common life), the number three in the
            binary
            numeral system (used in computers), and the number two in the unary numeral system (e.g. used in tallying
            scores).

            The number the numeral represents is called its value.

            Ideally, a numeral system will:

            Represent a useful set of numbers (e.g. all integers, or rational numbers)
            Give every number represented a unique representation (or at least a standard representation)
            Reflect the algebraic and arithmetic structure of the numbers.
        </div>
    </div>
</div>



<!-- <div class="uk-offcanvas-content">
    
    <viewer [project]="data"></viewer>
</div> -->



<!-- <header class="uk-section uk-section-small uk-text-center">
    <logo></logo><span>|Lab</span>
</header>

<div class="uk-container uk-container-medium uk-margin">
    <div class="uk-child-width-1-2@s uk-grid-match" uk-grid>
        <div>
            <div class="uk-card uk-card-secondary uk-box-shadow-small">
                <div class="uk-card-body">
                    <h3 class="uk-card-title">TodoList</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste eaque corrupti sunt odit ratione!
                        Maiores!</p>
                </div>
                <div class="uk-card-footer">
                    <a href="#" class="uk-button uk-button-text">source code</a>
                </div>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-secondary uk-box-shadow-small">
                <div class="uk-card-body">
                    <h3 class="uk-card-title">Hangman</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, ex.</p>
                </div>
                <div class="uk-card-footer">
                    <a href="#" class="uk-button uk-button-text">view page</a>
                    <a href="#" class="uk-button uk-button-text">source code</a>
                </div>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-secondary uk-box-shadow-small">
                <div class="uk-card-body">
                    <h3 class="uk-card-title">Sokoban</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, ex.</p>
                </div>
                <div class="uk-card-footer">
                    <a href="#" class="uk-button uk-button-text">view page</a>
                    <a href="#" class="uk-button uk-button-text">source code</a>
                </div>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-secondary uk-box-shadow-small">
                <div class="uk-card-body">
                    <h3 class="uk-card-title">Test</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere nostrum ea impedit veniam libero distinctio magnam fuga modi, eius voluptate cupiditate iusto laborum hic similique..</p>
                </div>
                <div class="uk-card-footer">
                    <a href="#" class="uk-button uk-button-text">view page</a>
                    <a href="#" class="uk-button uk-button-text">source code</a>
                </div>
            </div>
        </div>

    </div>
</div> 


<footer background="default"></footer> -->