<div class="uk-navbar-container uk-background-default">
  <nav class="uk-container" uk-navbar>
    <div class="uk-navbar-right">
      <a class="uk-navbar-toggle" href="#">
        <a class="uk-navbar-toggle" uk-navbar-toggle-icon href="#offcanvas-slide" uk-toggle></a>
      </a>
    </div>
  </nav>
</div>

<div id="offcanvas-slide" uk-offcanvas="" class="uk-offcanvas">
  <div class="uk-offcanvas-bar">
   
    <div class="uk-margin-medium">
      <div class="uk-panel">
        <ul class="uk-nav-default uk-nav-center uk-nav-parent-icon" uk-nav>
          <li><a href="#">todo app</a></li>
          <li><a href="#">hangman</a></li>
          <li><a href="#">sokoban</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>